<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('../partials/navbar') %>

        <h1>
            <%=user.username%>
        </h1>
        <div id="sidebar">
            <a href=""> <button id="recipes">Recipes</button></a>
            <a href=""> <button id="favorites">Favorites</button></a>
        </div>
        <div id="sections">
            <section id="recipes-section">
                <h1>My Recipes</h1>
                <%if (allUsersRecipes.length===0){%>
                    <p>You dont have recipes!</p>
                    <%}%>
                        <%for (let oneRecipe of allUsersRecipes){%>
                            <a href="/recipes/recipe-details/<%= oneRecipe._id %>">
                                <p>
                                    <%=oneRecipe.name%>
                                </p>
                                <%}%>
                            </a>
            </section>
            <section id="favorites-section">
                <h1>My Favorites</h1>
                <%if (userFav.length===0){%>
                    <p>You dont have favourited recipe!</p>
                    <%}%>
                        <%for (let oneFav of userFav){%>
                            <a href="/recipes/recipe-details/<%= oneFav._id %>">
                                <p>
                                    <%=oneFav.name%> By: <%=oneFav.creator.username%>
                                </p>
                                <%}%>
                            </a>
            </section>
        </div>
</body>

</html>