<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('../partials/navbar') %>

        <h1>All Recipes</h1>

        <form action="/recipes/search-by-ingredient" method="get">
            <input type="text" name="search" id="search" placeholder="Search by ingredient...">
            <button>Search</button>
        </form>


        <form action="/recipes/filter-by-category" method="get">
            <select name="filter">
                <option disabled selected>Choose category</option>

                <% for (let oneCategory of category) { %>
                    <option value="<%= oneCategory._id %>">
                        <%= oneCategory.name %>
                    </option>
                    <% } %>
            </select>

            <button type="submit">Filter</button>
        </form>
        <form action="/recipes/all-recipes" method="get">
            <button>clear</button>
        </form>
        <% if (allRecipes.length===0) { %>
            <p>Theres no recipes with that ingredient</p>
            <% } else { %>
                <% for (let oneRecipe of allRecipes) { %>
                    <a href="/recipes/recipe-details/<%= oneRecipe._id %>">
                        <p>
                            <%= oneRecipe.name %>
                        </p>
                        <img src="/images/<%= oneRecipe.image %>" alt="Recipe Image"
                            style="width: 90px; height: 120px; object-fit: cover;">
                    </a>
                    <hr>
                    <% } %>
                        <% } %>
</body>

</html>