<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pickedRecipe.name %>
    </title>
</head>

<body>
    <%- include('../partials/navbar') %>

        <h1>
            <%= pickedRecipe.name %>
        </h1>

        <!-- Fav & unFav Recipe -->
        <% if (pickedRecipe.favorites.some((oneId)=> oneId.equals(user))) { %>
            <p>You Favorited! ❤️</p>
            <form action="/recipes/<%= pickedRecipe._id %>/unFav" method="post">
                <button>
                    Remove Favorite
                </button>
            </form>
            <% } else { %>
                <form action="/recipes/<%= pickedRecipe._id %>/fav" method="post">
                    <button>
                        Add to Favorite 🤍
                    </button>
                </form>
                <% } %>

                    <!-- creators edit & isHidden button -->
                    <% if (pickedRecipe.creator._id.equals(user)) { %>

                        <!-- Edit -->
                        <button>
                            <a href="/recipes/<%= pickedRecipe._id %>/edit">Edit Recipe</a>
                        </button>
                        <br>

                        <!-- isHidden -->
                        <form action="/recipes/<%= pickedRecipe._id %>/hidden?_method=PUT" method="post">
                            <button>
                                <% if (pickedRecipe.isHidden) { %>
                                    Unhide Recipe
                                    <% } else { %>
                                        Hide Recipe
                                        <% } %>
                            </button>
                        </form>
                        <% } %>

                            <!-- Image -->
                            <% if (pickedRecipe.image) { %>
                                <img src="/images/<%= pickedRecipe.image %>" alt="<%= pickedRecipe.name %>" width="400">
                                <% } %>

                                    <!-- Description -->
                                    <h3>Description</h3>
                                    <p>
                                        <%= pickedRecipe.description %>
                                    </p>

                                    <!-- Cuisine -->
                                    <h3>Cuisine</h3>
                                    <p>
                                        <%= pickedRecipe.cuisine %>
                                    </p>

                                    <!-- Category -->
                                    <h3>Category</h3>
                                    <p>
                                        <%= pickedRecipe.category.name %>
                                    </p>

                                    <!-- Serving -->
                                    <h3>Serving</h3>
                                    <p>
                                        <%= pickedRecipe.serving %> people
                                    </p>

                                    <!-- Ingredients -->
                                    <h3>Ingredients</h3>
                                    <ul>
                                        <% for(let oneIngred of pickedRecipe.ingredients){ %>
                                            <li>🥘 <%= oneIngred.name %>
                                            </li>
                                            <% } %>
                                    </ul>

                                    <!-- Instructions -->
                                    <h3>Instructions</h3>
                                    <p>
                                        <%= pickedRecipe.instructions %>
                                    </p>

                                    <!-- Preparation Time -->
                                    <h3>Preparation Time</h3>
                                    <p>
                                        <%= pickedRecipe.prepTime %> minutes
                                    </p>

                                    <!-- Cooking Time -->
                                    <h3>Cooking Time</h3>
                                    <p>
                                        <%= pickedRecipe.cookTime %> minutes
                                    </p>

                                    <br>
</body>

</html>