<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/add-edit-delete.css">
</head>

<body>
    <%- include('../partials/navbar') %>
        <div class="recipe-form-page">

            <h1>Edit Recipe</h1>

            <form class="recipe-form" action="/recipes/<%= pickedRecipe._id %>?_method=PUT" method="post"
                enctype="multipart/form-data">

                <div class="form-card">

                    <div class="form-grid">

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" id="name" name="name" value="<%= pickedRecipe.name %>" required>
                        </div>

                        <div class="form-group">
                            <label for="cuisine">Cuisine</label>
                            <select name="cuisine" id="cuisine" required>
                                <% for(let oneCuisine of allCuisines){%>
                                    <option value="<%= oneCuisine.name %>" <%=pickedRecipe.cuisine==oneCuisine.name
                                        ? "selected" : "" %>
                                        >
                                        <%= oneCuisine.name %>
                                    </option>
                                    <% }%>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select name="category" id="category" required>
                                <% for(let oneCategory of allCategories){ %>
                                    <option value="<%= oneCategory._id %>"
                                        <%=pickedRecipe.category._id.toString()==oneCategory._id.toString() ? "selected"
                                        : "" %>>
                                        <%= oneCategory.name %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>


                        <div class="form-group">
                            <label for="serving">Serving</label>
                            <input type="number" name="serving" id="serving" value="<%= pickedRecipe.serving %>">
                        </div>

                        <div class="form-group">
                            <label for="prepTime">Preparation Time</label>
                            <input type="number" name="prepTime" id="prepTime" value="<%= pickedRecipe.prepTime %>">
                        </div>
                        <div class="form-group">
                            <label for="cookTime">Cooking Time</label>
                            <input type="number" name="cookTime" id="cookTime" value="<%= pickedRecipe.cookTime %>">
                        </div>
                        <div class="form-group">
                            <label for="image">Recipe Image</label>
                            <% if (pickedRecipe.image) { %>
                                <img src="/images/<%= pickedRecipe.image %>" width="200">
                                <% } %>
                                    <label>Update Image?</label>
                                    <input type="file" name="image" id="image">
                        </div>
                    </div>
                </div>
                <div class="form-card">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" name="description"><%= pickedRecipe.description %></textarea>
                    </div>
                </div>
                <div class="form-card">
                    <h2>Ingredients</h2>
                    <div class="ingredients-grid">
                        <% for (let oneCateg of allIngCateg) { %>
                            <div class="ingredient-category">
                                <h3>
                                    <%= oneCateg %>
                                </h3>

                                <% for (let oneIng of allIngredients){%>
                                    <% if (oneIng.category===oneCateg) { %>

                                        <label class="ingredient-item">
                                            <input type="checkbox" name="ingredients" value="<%= oneIng._id %>"
                                                <%=pickedRecipe.ingredients.some(ing=> ing._id.equals(oneIng._id)) ?
                                            "checked" :
                                            "" %>>
                                            <span>
                                                <%= oneIng.name %>
                                            </span>
                                        </label>
                                        <% }} %>
                            </div>
                            <%}%>
                    </div>
                </div>

                <div class="form-card">
                    <div class="form-group">
                        <label for="instructions">Instructions</label>
                        <textarea id="instructions" name="instructions"><%= pickedRecipe.instructions %></textarea>
                    </div>
                </div>

                <button>Update Recipe</button>
            </form>
</body>

</html>